.dnd5e.sheet .item-buttons button {
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}

.dnd5e.sheet .item-buttons span {
	padding: 0;
}

.local-qol-flavor-text {
    font-size: 12px
}

.dmgBtn-container-mqol {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: -5px;
	bottom: 4px;
  padding: 0 1px;
	display: flex;
	justify-content: space-between;
  align-items: center;
	z-index: 1;
}

.xdice-total-full-damage-button,
.xdice-total-half-damage-button,
.xdice-total-double-damage-button,
.xdice-total-full-damage-healing-button
{
  width: 20%;
  height:80%;
  font-size:24px;
  line-height:8px;
  background-color: 0xffffff;
  color:white;
}

.midi-qol-flex-container {
  display: flex;
  flex-wrap: wrap;
	align-items: left;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
}
.midi-qol-bigger-text {
  font-size: 14px;
  line-height: 16px;
}

.midi-qol-flex-container > div {
  margin: 2px;
}
.midi-qol-target-name:hover {
	text-shadow: 0 0 4px red;
}
.midi-qol-gmonly {
	display: none;
}

.midi-qol-box {
  border: 2px groove #eeede0;
  padding: 3px;
}
.midi-qol-nobox {
  padding: 5px;
  border-top: 2px groove #eeede0;
}

.midi-qol-faint {
  color: #606060;
}

#midi-qol-item-selector .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.midi-qol-tooltip {
  position: relative;
  display: inline-block;
  border: 0px;
  padding: 0px;
}

.midi-qol-tooltip .midi-qol-tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px ;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.midi-qol-tooltip:hover .midi-qol-tooltiptext {
  visibility: visible;
}